.slider {
    position: relative; /* Changed to relative to ensure child absolute positioning is relative to this */
    width: 100%; /* Ensure it covers the horizontal space */
    height: 100vh; /* Adjust based on your layout needs */
}

.slider__nav {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    z-index: 10;
}

.slider-bullet {
    display: flex;
    align-items: center;
    padding: 1rem 0;
}

.slider-bullet__text {
    color: #fff;
    font-size: 0.65rem;
    margin-right: 1rem;
}

.slider-bullet__line {
    background-color: #fff;
    height: 1px;
    width: 1rem;
}

.slider__text {
    position: absolute;
    bottom: calc(2rem + 3vw);
    left: calc(2rem + 3vw);
    z-index: 10;
    font-size: calc(1rem + 4vw);
    text-transform: uppercase;
    transform-origin: top;
    line-height: 1.075;
    color: #fff;
    font-weight: 500;
}

.slider__text-line {
    overflow: hidden;
}