.Slider {
    position: fixed; /* Use fixed to overlay on top of all content */
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: 1000; /* Ensure it is above other content */
}

.slider__nav {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%); 
    z-index: 1010; 
}

.slider-bullet {
    display: flex;
    align-items: center;
    padding: 1rem 0;
}

.slider-bullet__text {
    color: #fff;
    font-size: 0.65rem;
    margin-right: 1rem;
}

.slider-bullet__line {
    background-color: #fff;
    height: 1px;
    width: 1rem;
}

.slider__text {
    position: absolute;
    bottom: calc(2rem + 3vw);
    left: calc(2rem + 3vw);
    z-index: 10;
    font-size: calc(1rem + 4vw);
    text-transform: uppercase;
    transform-origin: top;
    line-height: 1.075;
    color: #fff;
    font-weight: 500;
}

.slider__text-line {
    overflow: hidden;
}